@{
    Layout = "~/Views/Shared/MainPage/_LayoutMainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    Lorem Ipsum
</div>
</body>
</html>
