@model ChooseYourBike.Models.Accesories

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Accesories</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Accesories description", htmlAttributes: new { @class = "control-label" })
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AccDescription)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
