@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SideBarLinks</title>
</head>
<body>
<div>
    Здесь должен быть фильтр
</div>
</body>
</html>
